src/main/resources/io/jmix/uisamples/menu/uisamples-menu.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2020 Haulmont.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema targetNamespace="io/jmix/uisamples/menu/uisamples-menu.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="io/jmix/uisamples/menu/uisamples-menu.xsd"
           elementFormDefault="qualified">

    <xs:element name="menu-config" type="menuOrItem"/>

    <xs:complexType name="menuOrItem">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element type="menuType" name="menu" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element type="overviewType" name="overview" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="overviewType">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="location" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="otherFiles" type="otherFilesType" minOccurs="0"/>
                <xs:element name="urlQueryParameters" type="parametersType" minOccurs="0"/>
                <xs:element name="viewParams" type="viewParamsType" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="url" type="xs:string">
            <xs:annotation>
                <xs:documentation>Path in the documentation under https://docs.jmix.io/jmix/. For example: flow-ui</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="page" type="xs:string">
            <xs:annotation>
                <xs:documentation>Page name (without .html). Can contain path under url. For example: data/data-context </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="anchor" type="xs:string">
            <xs:annotation>
                <xs:documentation>Anchor inside the page (without #). For example: save-delegate </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="isNew" type="xs:boolean"/>
        <xs:attribute name="splitEnabled" type="xs:boolean"/>
        <xs:attribute name="defaultFiles" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="menuType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element type="menuType" name="menu" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element type="overviewType" name="overview" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="isNew" type="xs:boolean"/>
        <xs:attribute name="isVaadinCommercial" type="xs:boolean"/>
        <xs:attribute name="url" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="fileType">
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="otherFilesType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="file" type="fileType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="paramType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="viewParamsType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="param" type="paramType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parametersType">
        <xs:sequence>
            <xs:element name="parameter" type="parameter" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parameter">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>